body {
    position: relative;
    background-color: rgb(231, 204, 147);
    font-family: 'Nosifer', cursive;
    color: black;
    margin: 0 0;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 4%;
    font-size: 50px;
}

main {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#player, #opponent {
    display: grid;
    height: 55vh;
    width: 30vw;
    border: 2px black solid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

footer {
    text-align: center;
    bottom: 0;
    margin: 0 33%;
    padding: 0 0;
    position: fixed;
    padding-bottom: 0.5%;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}